/* CSS Document */
body {
    font-size: 9pt;
    background-image: url(../../images/bg.gif);
    color: #333333;
    background-repeat: repeat-x;
    background-position: -500px;
    background-color: E0F0FF;
    SCROLLBAR-FACE-COLOR: #f6f6f6;
    FONT-SIZE: 9pt;
    MARGIN: 0px;
    SCROLLBAR-HIGHLIGHT-COLOR: #cccccc;
    SCROLLBAR-SHADOW-COLOR: #f6f6f6;
    SCROLLBAR-3DLIGHT-COLOR: #f6f6f6;
    SCROLLBAR-ARROW-COLOR: #cccccc;
    SCROLLBAR-TRACK-COLOR: #f6f6f6;
    FONT-FAMILY: Verdana, Arial, "??";
    SCROLLBAR-DARKSHADOW-COLOR: #cccccc;
    TEXT-DECORATION: none

}

p {
    font-size: 9pt;
    font-family: "??";
    color: #333333;
}

.menu {
    FONT-SIZE: 9pt;
    FONT-FAMILY: "??";
}

a.con {
    color: #333333;
    text-decoration: none;
    font-family: "??";
    font-size: 9pt;
}

a.con:hover {
    color: #FF6600;
    text-decoration: underline;
    font-family: "??";
    font-size: 9pt;
}

a {
    color: #01417A;
    text-decoration: none;
    font-family: "??";
    font-size: 9pt;
}

a:hover {
    color: #FF6600;
    text-decoration: underline;
    font-family: "??";
    font-size: 9pt;
}

a:active {
    color: #003366;
    text-decoration: underline;
    font-family: "??";
    font-size: 9pt;
}

TD DIV {
    POSITION: relative;
    left: 1px;
}

.dot {
    font-family: "??";
    font-size: 9pt;
    font-size: 9pt;
    line-height: 17pt;
    color: #FF6600;
}

.f9y {
    font-family: "??";
    font-size: 9pt;
    font-size: 9pt;
    line-height: 17pt;
    color: #FF6600;
}

.f90 a:link {
    color: #003366;
    text-decoration: none;
    font-family: "??";
    font-size: 12px;
}

.f90 a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    font-family: "??";
    font-size: 12px;
}

.f90 a:active {
    color: #003366;
    text-decoration: underline;
    font-family: "??";
    font-size: 12px;
}

.f8y {
    font-family: "??";
    font-size: 9pt;
    color: #FFFFFF;
    line-height: 16px;
}

.title_maintxt {
    color: #FF6600;
}

.style2 {
    color: #065FC7;
    font-weight: bold;
}

.f9b {
    line-height: 20px;
    font-family: "??";
    font-size: 9pt;
    color: #01417A;
}

.f9h {
    font-family: "??";
    font-size: 9pt;
    color: #000066;
    text-decoration: none
}

.page {
    color: #065FC7;
}

a.page {
    color: #065FC7;
    text-decoration: none;
    font-family: "??";
    font-size: 9pt;
}

a.page:hover {
    color: #FF6600;
    text-decoration: underline;
    font-family: "??";
    font-size: 9pt;
}

.pageproduct {
    color: #5A5A5A;
}

a.pageproduct {
    color: #5A5A5A;
    text-decoration: none;
    font-family: "??";
    font-size: 9pt;
}

a.pageproduct:hover {
    color: #FF6600;
    text-decoration: underline;
    font-family: "??";
    font-size: 9pt;
}

/* "??""??""??"CSS */
.table {
    background-color:;
    color: #01417A;
}

.tb {
    background-color: #025CAF;
    font-size: 12px;
    color: #01498B;
    font-family: "??";
}

.tb tr {
    line-height: 18px;
    text-indent: 3pt;
    background-color: expression( this.defaultColor || (
  this.rowIndex==0?(
   this.style.cursor = "default",
   this.defaultColor = "#ABD6FE"
  ):(
   this.style.cursor = "hand",
   this.onmouseover=window.TR_MOUSE_OVER||(window.TR_MOUSE_OVER=function(){this.style.backgroundColor="#40A3FE";}),
   this.onmouseout=window.TR_MOUSE_OUT||(window.TR_MOUSE_OUT=function(){this.style.backgroundColor=this.defaultColor;}),
   this.defaultColor=this.rowIndex&1?"#ffffff":"#ABD6FE"
  )
 ));
}

.tr_bg td {
    FILTER: progid: DXImageTransform . Microsoft . Gradient(GradientType = 0, StartColorStr = #BEDEFC, EndColorStr = #379FFE);
    text-indent: 3px;
    font-size: 12px;
}

.left_line {
    font-size: 12px;
    color: #333333;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #A7A7A7;
}

.menu {
    height: 28px;
    margin-top: 0px;
}

.menu div {
    text-align: right;
}

.menu div, .menu div a {
    color: #0F3773;
    padding-top: 7px !important;
    padding-top: 6px;
}

.menu div span {
    height: 8px;
}

.headermenu_popup {
    color: #154BA0;
    border-top: 0px solid #47ABE0;
    margin-top: 4px !important;
    border-right: 1px solid #47ABE0;
    border-bottom: 1px solid #47ABE0;
    border-left: 1px solid #47ABE0;
}

.headermenu_popup a {
    color: #154BA0;
    text-decoration: none;
}

.top {
    color: #154BA0;
    border-top: 0px solid #47ABE0;
    margin-top: 4px !important;
    font-size: 12px;
}

.top a:link {
    color: #154BA0;
    text-decoration: none;
}

.top a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Popup Menu */
.popupmenu_popup {
    color: #154BA0;
    border: 1px solid #2F5BA6;
}

.popupmenu_option {
    background: #D9EEF9;
    color: #154BA0;
    white-space: nowrap;
    padding: 3px 8px;
}

.popupmenu_option a {
    color: #154BA0;
    padding: 3px 8px;
    text-decoration: none;
}

.popupmenu_highlight {
    background: #7AC4EA;
    color: #FFFFFF;
    white-space: nowrap;
    padding: 3px 8px;
    cursor: pointer;
}

.popupmenu_highlight a {
    color: #FFFFFF;
    padding: 3px 8px;
    text-decoration: none;
}

.nav {
    font-size: 12px;
    color: #01417A;
    font-weight: normal;
    float: left;
    background-color: #62B5FF;
}

.nav a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: underline;

}

.nav a:hover {
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: underline;

}

.navaction {
    color: #154BA0;
    float: right;
}

.navaction a {
    color: #000000;
    text-decoration: underline;

}

.navaction a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.other a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}

.other a:hover {
    color: #FF6600;
    text-decoration: none;
}

input {
    border: 1 solid #5A82A5
}

.dbinput {
    background-color: #E0F0FF;
    border: 1 solid #5A82A5
}

.button {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 12px;
    FILTER: progid: DXImageTransform . Microsoft . Gradient(GradientType = 0, StartColorStr = #4D93D3, EndColorStr = #ffffff);
    CURSOR: hand;
    COLOR: black;
    PADDING-TOP: 2px;
    border: 1px solid #025CAF; /*cursor: hand;background-color: #B8E6FD;*/

}

.tbbg {
    font-size: 12px;
    color: #333666;
    font-family: "??";
}

.tbbg tr {
    line-height: 18px;
    text-indent: 3pt;
}

.TE {
    BORDER-COLLAPSE: collapse
}

.TE TD {
    TEXT-INDENT: 3pt;
    FONT-SIZE: 9pt;
    border: 1px solid #124E67;
    color: #404444;
}

.title {
    font-size: 14px;
    color: #025CAF;
    font-weight: bold;
    float: left;
}

.tbl {
    background-color: #025CAF;
    font-size: 12px;
    color: #01417A;
    font-family: "??";
}

.tbl tr {
    line-height: 18px;
    text-indent: 3pt;
    background-color: #FFFFFF;
    /*	background-color:expression( this.rowIndex&1?"#ffffff":"#D5F2FC" );       */
}

.tbe {
    background-color: #025CAF;
    font-size: 12px;
    color: #01417A;
    font-family: "??";
}

.tbe tr {
    line-height: 18px;
    text-indent: 3pt;
    background-color: #FFFFFF;
    background-color: expression( this.rowIndex&1?"#ffffff":"#ABD6FE" );
}

.fonts {
    font-size: 13px;
    font-weight: bold;
    color: #01417A;
}

.tx, .tx td {
    background-color: #62B3FD;
    height: 25px;
    font-size: 9pt;
    text-indent: 5pt;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    color: #003366;
}

.txx, .txx td {
    background-color: #93CAFD;
    height: 23px;
    font-size: 9pt;
    text-indent: 5pt;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    color: #003366;
}